# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environnement
.env

# Base de données
*.db
*.sqlite3

# Distribution
dist/
build/
*.egg-info/

# Tests
.pytest_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/
